.App {
  background-color: #b5d2c6b0;
  padding-left: 40px;
  padding-right: 40px;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 128, 128);
  padding-top: 60px;
}

.dense .MuiSelect-select,
.dense .MuiInputBase-input {
  min-width: 30px;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: rgb(25 210 82 / 30%) !important;
}

.dense.wide input {
  min-width: 75px;
}

.narrow .MuiInputBase-input {
  max-width: 30px;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root,
.css-mhc70k-MuiGrid-root {
  background-color: #eff4f2 !important;
}

select::-ms-expand {
  display: none;
}

svg.MuiSelect-icon {
  display: none;
}

.statsTable {
  margin-top: 20px !important;
}

.depth.statsTable {
  max-width: max-content;
}

h3 {
  margin-top: 10px;
}

.App-link {
  color: #61dafb;
}

.tableHead {
  background-color: #b0b9b5;
  padding-bottom: 10px;
}
.tableHeading {
  border-right: 1px solid green;
  height: 100%;
  padding: 2px 5px;
}
.tableBody {
  background-color: #bec6c3;
}
.tableCell {
  border-right: 1px solid green;
  height: 100%;
  padding: 2px 5px;
}

.multiSelect {
  max-width: 120px;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  min-height: 35px !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-disabled
  .MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
  background-color: #8080800d;
}

.MuiSelect-select,
.MuiOutlinedInput-input {
  height: 20px !important;
  min-height: 10px !important;
  padding: 3px 8px !important;
}

.MuiTableCell-root {
  padding: 3px 10px !important;
}

.MuiTableRow-root:hover {
  background-color: #dfe9e5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
