.App {
  background-color: #dee5e2;
  padding-left: 40px;
  padding-right: 40px;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 128, 128);
}

.dense .MuiSelect-select {
  padding: 8px !important;
  min-width: 30px;
}

.dense .MuiInputBase-input {
  padding: 8px !important;
  min-width: 30px;
}

.narrow .MuiInputBase-input {
  max-width: 30px;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  background-color: #eff4f2 !important;
}

select::-ms-expand {
  display: none;
}

svg.MuiSelect-icon {
  display: none;
}

.statsTable {
  margin-top: 20px;
}

h3 {
  margin-top: 10px;
}

.App-link {
  color: #61dafb;
}

.tableHead {
  background-color: #b0b9b5;
  padding-bottom: 10px;
}
.tableHeading {
  border-right: 1px solid green;
  height: 100%;
  padding: 2px 5px;
}
.tableBody {
  background-color: #bec6c3;
}
.tableCell {
  border-right: 1px solid green;
  height: 100%;
  padding: 2px 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
